<h1>Edit Page</h1>
<%= form_for @task do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task %>

  <%= f.label :priority %>
  <%= f.text_field :priority %>

  <%= f.label :completed %>
  <%= f.text_area :completed %>

  <%= f.submit %>
<% end %>